.book-card-loader {
  display: flex;
  width: 100%;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 8px;

  &__cover {
    width: 10rem;
    height: 13rem;
    border-radius: 0.5px;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__content {
    padding: 16px;

    h3 {
      height: 2.5rem;
      width: 20rem;
      margin: 0px;
    }

    p {
      margin: 0.5rem 0;
      height: 1rem;
      width: 20rem;
    }
  }
}
