.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  min-width: 500px;
  max-width: 90%;
}

.modal-close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
  &:hover {
    outline: none;
  }
}

.modal-close-button:hover {
  color: #ff0000;
}

.delete-modal-content {
  text-align: center;
}

.delete-modal-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.button--confirm {
  background-color: #d9534f; // Red color for confirm
}

.button--confirm:hover {
  background-color: #c9302c; // Darker red on hover
}

.button--cancel {
  background-color: #5bc0de; // Blue color for cancel
}

.button--cancel:hover {
  background-color: #31b0d5; // Darker blue on hover
}
